.home-profile {
  /* border: 1px solid lightgray; */
  background: #fafafa;
  height: 100%;
  width: 270px;
  top: 53px;
  right: 17px;
  position: fixed;
}
.user-info {
  margin: 24px;
}
.user-image {
  width: 60px;
  height: 60px;
}
.user-image img {
  max-width: 66px;
  max-height: 66px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.name {
}
.myusername {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    position: absolute;
    top: 33px;
    right: 68px;
}
.myname {
  color: rgba(var(--f52, 142, 142, 142), 1);
}
.user-suggestions {
  color: #c3c3c3;
  margin: 10px;
}
.suggestion-user {
  margin-top: 27px;
  display: flex;
  justify-content: space-around;
}
.suggestion-profile-photo {

}
.suggestion-profile-photo img {
  max-width: 45px;
  max-height: 46px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.suggestion-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.username {
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
.name {
  color: rgba(var(--f52, 142, 142, 142), 1);
}
.follow-btn {
  display: flex;
  align-items: center;
}
.follow-btn div {
  color: #3aacf7;
  cursor: pointer;
  font-size: 12px;
}
