* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Tools*/
.tools-content { 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
.tools {
    display: flex;
    width: 99%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    background: fixed;
    border-radius: 23px;
    box-shadow: rgb(0 0 0 / 18%) 0px 0rem 2rem;
}
.tool { 
    height: 50px;
}
.tool img {
    height: 80%;
}

.tool-options{
    position: absolute;
    top: 71px;
    left: 13px;
    width: 150px;
    height: 120px;
    border-radius: 10px;
    background: lightcyan;
}
.pencil-colors-1{
    display: flex;
}
.pencil-colors-1 div{
    height: 33px;
    width: 33px;
    margin: 2px;
    border-radius: 100%;
}
.pencil-colors-2{
    display: flex;
}
.pencil-colors-2 div{
    height: 33px;
    width: 33px;
    margin: 2px;
    border-radius: 100%;
}

#corner-options{
    background: lightgrey;
    width: 46px;
    left: 5px;
    top: 69px;
    height: 61px;
    border-radius: revert;
    border-radius: revert;
}
#corner{
    position: relative;
}
.corner-type{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: -webkit-center;
    border: 1px solid coral;
}
.corner-type div{
    border: 1px solid;
    cursor: pointer;
}
.black{
    background: black;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
.orange{
    background: orange;
}
.yellow{
    background: yellow;
}
.indigo{
    background: indigo;
}
.brown{
    background: brown;
}
#eraser-options{
    left: 100px;
    background: white;
    top: 80px;
}

.sticky{
    position: absolute;
    left: 300px;
    top: 200px;
}
.sticky-header{
    height: 30px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.minimize{
    height: 20px;
    width: 20px;
    background: orange;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 0px;
    text-align: center;
    cursor: pointer;
}
.close{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}
.sticky-content{
    
}
#sticky-text{
    outline: none;
    border: 1px solid lightgrey;
    min-width: 60px;
    min-height: 15px;
}

.confirm-close{
    position: absolute;
    display: flex;
    right: 3px;
    height: 30px;
    width: 116px;
    top: 34px;
    background: lawngreen;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.yes{
    position: absolute;
    width: 27px;
    top: 36px;
    right: 66px;
    height: 20px;
}

.no{
position: absolute;
width: 28px;
top: 36px;
right: 36px;
height: 20px;
}


/* Canvas*/
.canvas { 
    height: calc(100vh - 80px);
}
#canvas {
    background: white;
    width: 95%;
    height: calc(100vh - 80px);
}

/* Social Media*/
.social-elements { height: 0%;
    width: 0%; 
    background: white; 
}
.social { 
    position: absolute;
    top: 80px; 
    display: flex; 
    flex-direction: column; 
    align-items: baseline; 
    justify-content: space-evenly; 
    right: 0px; 
    background: white; 
    border-radius: 20px; 
    margin-right: 4px; 
    bottom: 0px; 
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0rem 1rem; 
}
.app { 
    width: 20%; 
}
.app img { 
    height: 40px; 
    width: 45px; 
}
#shapeOptions{
    top: 80px;
    background: lightgray;
    left: 663px;
    height: 52px;
}
.myShape{
    display: flex;
}
#shapes{
    height: 40px;
    width: 40px;
}








/*  Hide and Active*/
.active-tool{
    background: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 4px;
    height: 60px;
    width: 55px;
}
.hide { 
    display: none;
}